<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MyTransports</title>
  
</head>
<body>
    <form action="">
        <input type="text" name="line" placeholder="line">
        <input type="text" name="station" placeholder="station">
        <input type="text" name="destination" placeholder="destination">
        <button type="submit">Envoyer</button>
        
    </form>
    <div id="next">
    </div>
  <script>
    //   Fetch query params from inputs
    let params = (new URL(document.location)).searchParams;
    let line = params.get('line'); 
    let station = params.get('station');
    let direction = params.get('direction');

    // start building next request params
    const fetchParams = {route_short_name: line, station, direction}
    const urlParams = new URLSearchParams(Object.entries(fetchParams))
    

    fetch(`/api/next?` + urlParams).then(data => {
      data.json().then(json => {
        console.log(json)

        let h3 = document.createElement('h3');
        h3.innerText = `Next departure is in ${json.delay} minutes`
        
        let element = document.querySelector('#next');
        element.appendChild(h3);
      })
    })
  </script>
</body>
</html>
