<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MyTransports</title>
  
</head>
<body>
  <ul id='stations'>
    
  </ul>
  <script>
    let ul = document.querySelector('ul#stations')
    fetch('/api/station/{{station}}').then(data => {
      data.json().then(json => {
        console.log(json)
        json.forEach(station => {
          let li = document.createElement('li')
          li.innerHTML = `${station.route_short_name}`

          ul.append(li)
        })

      })
    })
  </script>
</body>
</html>
