<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>MyTransports</title>
  
</head>
<body>
  <ul id='stations'>
    
  </ul>
  <script>
    // let station = 'AIGUELONGUE'
    let station = window.location.pathname.replace('/station/', '')
    console.log(station)
    let ul = document.querySelector('ul#stations')
    fetch(`/api/station/${station}`).then(data => {
      data.json().then(json => {
        console.log(json)
        json.forEach(station => {
          let div = document.createElement('div')
          div.innerHTML = `<ul>
            <li>L${station.route_short_name} ${station.trip_headsign} ${station.delay_min}</li>
            </ul>`
          ul.append(div)
        })

      })
    })
  </script>
</body>
</html>
